/* styles.css */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 768px;
    margin: 0 auto;
}


.profile {
    display: flex; /* Ändere das Container-Display auf Flexbox */
    align-items: center; /* Zentriere die Elemente vertikal */
    justify-content: space-between;
}

.profile img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

.profile .bell-icon {
    width: 37px;
    height: 37px;
    margin-right: 20px;
    margin-top: 20px;
}

.welcome-search {
    margin-left: 20px;
}
 

.search-bar input[type="search"] {
    width: 90%;
    padding: 10px;
    height: 50px;
    border-radius: 14px;
}

.welcome {
    margin-top: 20px; /* Ändere den oberen Seitenabstand nach Bedarf */
}

.categories, .most-popular {
    padding: 20px;
}

.carousel-categories {
    height: 70px;
    display: flex;
    overflow-x: auto;
}

.carousel-categories .item:nth-child(1) {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    width: 73px; /* Set the width of the carousel items */
    height: 50px; /* Set the height of the carousel items */
    margin-right: 10px;
    background: #BF986D; /* Change background color */
    border-radius: 14px; /* Add rounded corners to the carousel items */
    flex-shrink: 0;
}

.carousel-categories .item  {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    width: 73px; /* Set the width of the carousel items */
    height: 50px; /* Set the height of the carousel items */
    margin-right: 10px;
    background: #3A3938; /* Change background color */
    border-radius: 14px; /* Add rounded corners to the carousel items */
    flex-shrink: 0;
}


.carousel-categories .item .icon img {
    margin-top: 25px;
    width: 30px; /* Set the width of the grey box */
    height: 30px; /* Set the height of the grey box */
}

.carousel-categories .item .item-text {
    /* Styles for the text */
    color: #BF986D;
    font-family: 'Roboto SemiBold', sans-serif; /* Change the font family as desired */
    font-size: 14px;
    margin-top: 7px; /* Adjust spacing between the icon and text */
}

.item-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: rgba(217, 217, 217, 0.6); /* Adjust the background color with transparency */
    font-family: 'Palanquin Dark SemiBold', sans-serif; /* Change the font family as desired */
    font-size: 24px; /* Adjust font size as needed */
    color:black; /* Adjust text color as needed */
}

.blog-title {
    margin-left: 20px;
}

.dynamic-island {
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid #646464;
    height: 330px;
    width: 373px;
    border-radius: 22px;
    background-color: white;
    left: 20px;
    overflow: auto;
}

.profile {
    display: flex; /* Ändere das Container-Display auf Flexbox */
    align-items: center; /* Zentriere die Elemente vertikal */
    justify-content: space-between;
}

.dynamic-island img {
    width: 90%;
    height: 168px;
    margin-left: 20px;
    margin-right: 20px;

}

.profile img {
    width: 38px;
    height: 36px;
    border-radius: 100px;
    margin-left: 20px; /* Add spacing between profile picture and text */
}

/* Name */
.name {
    font-family: 'Roboto SemiBold', sans-serif; /* Change the font family as desired */
    font-size: 14px;
    color: black;
    text-align: left;
}

/* Date */
.date {
    font-family: 'Roboto SemiBold', sans-serif; /* Change the font family as desired */
    font-size: 14px;
    color: black;
    margin-right: 20px
}



.title {
    font-family: 'Palanquin Dark';
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    margin-left: 20px;
    color: black;
}

/* Description */
.description {
    font-family: 'Roboto SemiBold', sans-serif; /* Change the font family as desired */
    font-size: 14px;
    color: black;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
    text-align: justify;
}




nav {
    display: flex;
    justify-content: space-around;
    background-color: #3A3938;
    padding: 10px 0;
}

nav a {
    text-decoration: none; /* Unterstreichung entfernen */
}

nav .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

nav .icon img {
    width: 25px;
    height: 25px;
}

nav .item:nth-child(3) .icon img {
    width: 60px;
    height: 60px;
}

nav .item-text {
    font-size: 12px;
    color: #646464;
}

nav .item:nth-child(2) .item-text {
    font-size: 12px;
    color: white;
}

h1 {
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
    color: white;
    
}

h2 {
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 15px;
    color: white;
}

h3 {
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 15px;
    color: white;
    text-align: center; /* Text zentrieren */
}

p {
    font-family: 'Roboto SemiBold', sans-serif; /* Change the font family as desired */
    font-size: 14px;
    color: white;
    text-align: left;
}

body {
    background-color: #272626;
}


