/* styles.css */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 768px;
    margin: 0 auto;
}


.profile {
    display: flex; /* Ändere das Container-Display auf Flexbox */
    align-items: center; /* Zentriere die Elemente vertikal */
    justify-content: space-between;
}

.profile img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

.profile .bell-icon {
    width: 37px;
    height: 37px;
    margin-right: 20px;
    margin-top: 20px;
}

.welcome-search {
    margin-left: 20px;
}
 

.search-bar input[type="search"] {
    width: 90%;
    padding: 10px;
    height: 50px;
    border-radius: 14px;
}

.welcome {
    margin-top: 20px; /* Ändere den oberen Seitenabstand nach Bedarf */
}

.categories, .most-popular {
    padding: 20px;
}

.carousel-categories {
    height: 66px;
    display: flex;
    overflow-x: auto;
}

.carousel-categories .item {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    width: 73px; /* Set the width of the carousel items */
    height: 50px; /* Set the height of the carousel items */
    margin-right: 10px;
    background: #BF986D; /* Change background color */
    border-radius: 14px; /* Add rounded corners to the carousel items */
    flex-shrink: 0;
}


.carousel-categories .item .icon img {
    margin-top: 25px;
    width: 30px; /* Set the width of the grey box */
    height: 30px; /* Set the height of the grey box */
}

.carousel-categories .item .item-text {
    /* Styles for the text */
    color: #BF986D;
    font-family: 'Roboto SemiBold', sans-serif; /* Change the font family as desired */
    font-size: 14px;
    margin-top: 7px; /* Adjust spacing between the icon and text */
}

.carousel-productview {
    display: flex;
    overflow-x: auto;
}

.carousel-productview .item {
    position: relative; /* Add position relative for absolute positioning of item-name */
    flex: none;
    width: 241px;
    height: 295px;
    margin-right: 22px;
    background: black;
    text-align: center;
    line-height: 50px;
    border-radius: 22px;
    overflow: hidden;
}


.carousel-productview .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: rgba(217, 217, 217, 0.6); /* Adjust the background color with transparency */
    font-family: 'Palanquin Dark SemiBold', sans-serif; /* Change the font family as desired */
    font-size: 24px; /* Adjust font size as needed */
    color:black; /* Adjust text color as needed */
}

.item-button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    background-color: #D2FCAB;
    color: #fff;
    text-decoration: none;
    border-radius: 14px;
}

.item-button img {
    margin-top: 10px;
    width: 32px !important; /* Adjust width as needed */
    height: 32px !important; /* Maintain aspect ratio */
}


nav {
    display: flex;
    justify-content: space-around;
    background-color: #3A3938;
    padding: 10px 0;
}

nav .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

nav .icon img {
    width: 25px;
    height: 25px;
}

nav .item:nth-child(3) .icon img {
    width: 60px;
    height: 60px;
}

nav .item-text {
    font-size: 12px;
    color: #646464;
}

nav .item:nth-child(1) .item-text {
    font-size: 12px;
    color: white;
}

h1 {
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
    color: white;
    
}

h2 {
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 15px;
    color: white;
}

h3 {
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 15px;
    color: white;
    text-align: center; /* Text zentrieren */
}

p {
    font-family: 'Roboto SemiBold', sans-serif; /* Change the font family as desired */
    font-size: 14px;
    color: white;
    text-align: left;
}

body {
    background-color: #272626;
}
