/* styles.css */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 768px;
    margin: 0 auto;
}

header {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
}

.profile img {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.search-bar {
    margin-top: 20px;
}

.search-bar input[type="search"] {
    width: 90%;
    padding: 10px;
}

.categories, .most-popular {
    padding: 20px;
}

.carousel-categories {
    height: 66px;
    display: flex;
    overflow-x: auto;
}

.carousel-categories .item {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    width: 73px; /* Set the width of the carousel items */
    height: 50px; /* Set the height of the carousel items */
    margin-right: 10px;
    background: #BF986D; /* Change background color */
    border-radius: 14px; /* Add rounded corners to the carousel items */
    flex-shrink: 0;
}


.carousel-categories .item .icon img {
    margin-top: 25px;
    width: 30px; /* Set the width of the grey box */
    height: 30px; /* Set the height of the grey box */
}

.carousel-categories .item .item-text {
    /* Styles for the text */
    color: #BF986D;
    font-family: 'Roboto SemiBold', sans-serif; /* Change the font family as desired */
    font-size: 14px;
    margin-top: 7px; /* Adjust spacing between the icon and text */
}

.carousel-productview {
    display: flex;
    overflow-x: auto;
}

.carousel-productview .item {
    flex: none;
    width: 241px; /* Set the width of the carousel items */
    height: 295px; /* Set the height of the carousel items */
    margin-right: 10px;
    background: #ccc; /* Placeholder style */
    text-align: center;
    line-height: 50px; /* Adjust line height to center content vertically */
    border-radius: 22px; /* Add rounded corners to the carousel items */
}

.carousel-productview .item .icon img {
    width: 100%; /* Set the width of the image to 100% of its container */
    height: 100%; /* Set the height of the image to 100% of its container */
    object-fit: cover; /* Ensure the image covers the entire container */
    border-radius: 22px; /* Apply the same border-radius as the container */
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #000;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav a.active {
    border-bottom: 2px solid green;
}

h1 {
    font-family: 'Palaquin Dark SemiBold', sans-serif; /* Change the font family as desired */
    font-size: 32px;
}

h2 {
    font-family: 'Palaquin Dark SemiBold', sans-serif; /* Change the font family as desired */
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    font-family: 'Roboto SemiBold', sans-serif; /* Change the font family as desired */
    font-size: 14px;
}