/* styles.css */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 768px;
    margin: 0 auto;
}

header {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
}

.profile img {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.search-bar {
    margin-top: 20px;
}

.search-bar input[type="search"] {
    width: 90%;
    padding: 10px;
}

.categories, .most-popular {
    padding: 20px;
}

.carousel {
    display: flex;
    overflow-x: auto;
}

.carousel .item {
    flex: none;
    width: 73px; /* Set the width of the carousel items */
    height: 50px; /* Set the height of the carousel items */
    margin-right: 10px;
    background: #ccc; /* Placeholder style */
    text-align: center;
    line-height: 50px; /* Adjust line height to center content vertically */
    border-radius: 14px; /* Add rounded corners to the carousel items */
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #000;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav a.active {
    border-bottom: 2px solid green;
}

h1 {
    font-family: 'Palaquin Dark SemiBold', sans-serif; /* Change the font family as desired */
    font-size: 32px;
}

h2 {
    font-family: 'Palaquin Dark SemiBold', sans-serif; /* Change the font family as desired */
    font-size: 24px;
}

p {
    font-family: 'Roboto SemiBold', sans-serif; /* Change the font family as desired */
    font-size: 14px;
}